name: Publish to PyPI

on:
  release:
    types: [published]
    tags:
      - "v*"

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      contents: read
      id-token: write # Needed for trusted publishing

    steps:
      - uses: actions/checkout@v4

      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          version: "head"

      - name: Install project dependencies
        run: pdm install

      - name: Clean previous build artifacts
        run: rm -rf dist/ build/

      - name: Build package
        run: pdm build

      - name: Check version consistency
        run: |
          TAG_VERSION="${GITHUB_REF#refs/tags/v}"
          PKG_VERSION=$(pdm show --version)
          if [ "$TAG_VERSION" != "$PKG_VERSION" ]; then
            echo "Tag version ($TAG_VERSION) does not match package version ($PKG_VERSION)."
            exit 1
          fi

      - name: Publish package distributions to PyPI
        run: pdm publish
